### Check the versions of libraries

In [1]:
# Python version
import sys
print('Python: {}'.format(sys.version))

Python: 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

#### 1-1. Example of correct indentation

In [2]:
# Correct indentation
print ("Programming is an important skill for Data Science")
print ("Statistics is a important skill for Data Science")
print ("Business domain knowledge is a important skill for Data Science")

# Correct indentation, note that if statement here is an example of suites
x = 1
if x == 1:
    print ('x has a value of 1')
else:
    print ('x does NOT have a value of 1')

Programming is an important skill for Data Science
Statistics is a important skill for Data Science
Business domain knowledge is a important skill for Data Science
x has a value of 1

#### 1-2. Example of incorrect indentation

In [3]:
# incorrect indentation, program will generate a syntax error
# due to the space character inserted at the beginning of second line
print ("Programming is an important skill for Dabata Science", '\n' )
print ("Statistics is a important skill for Data Science", '\n' )
print ("Business domain knowledge is a important skill for Data Science",'\n' )
3
# incorrect indentation, program will generate a syntax error
# due to the wrong indentation in the else statement
x = 1
if x == 1:
    print ('x has a value of 1')
else:
    print ('x does NOT have a value of 1')

Programming is an important skill for Dabata Science

Statistics is a important skill for Data Science

Business domain knowledge is a important skill for Data Science

x has a value of 1

### When to Use List vs. Tuples vs. Set vs. Dictionary

• List: Use when you need an ordered sequence of homogenous
collections, whose values can be changed later in the program.

• Tuple: Use when you need an ordered sequence of heterogeneous
collections whose values need not be changed later in the
program.

• Set: It is ideal for use when you don’t have to store duplicates and
you are not concerned about the order or the items. You just want
to know whether a particular value already exists or not.

• Dictionary: It is ideal for use when you need to relate values with
keys, in order to look them up efficiently using a key.

#### 1-3. Code For Basic Object Types

![1.png](img/1.png)

In [4]:
none = None # singleton null object
boolean = bool(True)
integer = 1
Long = 3.14

# float
Float = 3.14
Float_inf = float('inf')
Float_nan = float('nan')

# complex object type, note the usage of letter j
Complex = 2+8j

# string can be enclosed in single or double quote
string = 'this is a string'
me_also_string = "also me"
List = [1, True, 'ML'] # Values can be changed
Tuple = (1, True, 'ML') # Values can not be changed
Set = set([1,2,2,2,3,4,5,5]) # Duplicates will not be stored

# Use a dictionary when you have a set of unique keys that map to values
Dictionary = {'a':'A', 2:'AA', True:1, False:0}

# lets print the object type and the value
print (type(none), none)
print (type(boolean), boolean)
print (type(integer), integer)
print (type(Long), Long)
print (type(Float), Float)
print (type(Float_inf), Float_inf)
print (type(Float_nan), Float_nan)
print (type(Complex), Complex)
print (type(string), string)
print (type(me_also_string), me_also_string)
print (type(Tuple), Tuple)
print (type(List), List)
print (type(Set), Set)
print (type(Dictionary), Dictionary)

<class 'NoneType'> None
<class 'bool'> True
<class 'int'> 1
<class 'float'> 3.14
<class 'float'> 3.14
<class 'float'> inf
<class 'float'> nan
<class 'complex'> (2+8j)
<class 'str'> this is a string
<class 'str'> also me
<class 'tuple'> (1, True, 'ML')
<class 'list'> [1, True, 'ML']
<class 'set'> {1, 2, 3, 4, 5}
<class 'dict'> {'a': 'A', 2: 'AA', True: 1, False: 0}

#### 1-4. Example code for comments

In [5]:
# This is a single line comment in Python
print ("Hello Python World") # This is also a single line comment in Python
""" This is an example of a multi line comment that runs into multiple lines. 
Everything that is in between is considered as comments 
"""

Hello Python World

' This is an example of a multi line comment that runs into multiple lines. \nEverything that is in between is considered as comments \n'

#### 1-5. Example code for multiline statements

In [6]:
# Example of implicit line continuation
x = ('1' + '2' +
'3' + '4')

# Example of explicit line continuation
y = '1' + '2' + \
'11' + '12'
weekdays = ['Monday', 'Tuesday', 'Wednesday',
'Thursday', 'Friday']
weekend = {'Saturday',
'Sunday'}

print ('x has a value of', x)
print ('y has a value of', y)
print ("days")
print ("weekend")

x has a value of 1234
y has a value of 121112
days
weekend

#### 1-6. Code example for multistatements on a single line

In [7]:
import os; x = 'Hello';print ("x")

x

#### 1-7. Example code for arithmetic operators

![2.png](img/2.png)

In [8]:
# Variable x holds 10 and variable y holds 5
x = 10
y = 5

# Addition
print ("Addition, x(10) + y(5) = ", x + y)

# Subtraction
print ("Subtraction, x(10) - y(5) = ", x - y)

# Multiplication
print ("Multiplication, x(10) * y(5) = ", x * y)

# Division
print ("Division, x(10) / y(5) = ",x / y)

# Modulus
print ("Modulus, x(10) % y(5) = ", x % y)

# Exponent
print ("Exponent, x(10)**y(5) = ", x**y)

# Integer division rounded towards minus infinity
print ("Floor Division, x(10)//y(5) = ", x//y)

Addition, x(10) + y(5) =  15
Subtraction, x(10) - y(5) =  5
Multiplication, x(10) * y(5) =  50
Division, x(10) / y(5) =  2.0
Modulus, x(10) % y(5) =  0
Exponent, x(10)**y(5) =  100000
Floor Division, x(10)//y(5) =  2

#### 1-8. Example code for comparision/relational operators

![3.png](img/3.png)

In [9]:
# Variable x holds 10 and variable y holds 5
x = 10
y = 5

# Equal check operation
print ("Equal check, x(10) == y(5) ", x == y)

# Not Equal check operation
print ("Not Equal check, x(10) != y(5) ", x != y)

# Not Equal check operation
#print ("Not Equal check, x(10) <>y(5) ", x<>y)

# Less than check operation
print ("Less than check, x(10) <y(5) ", x<y)

# Greater check operation
print ("Greater than check, x(10) >y(5) ", x>y)

# Less than or equal check operation
print ("Less than or equal to check, x(10) <= y(5) ", x<= y)

# Greater than or equal to check operation
print ("Greater than or equal to check, x(10) >= y(5) ", x>= y)

Equal check, x(10) == y(5)  False
Not Equal check, x(10) != y(5)  True
Less than check, x(10) <y(5)  False
Greater than check, x(10) >y(5)  True
Less than or equal to check, x(10) <= y(5)  False
Greater than or equal to check, x(10) >= y(5)  True

#### 1-9. Example code for assignment operators

![4.png](img/4.png)

In [10]:
# Variable x holds 10 and variable y holds 5
x = 5
y = 10
x += y
print ("Value of a post x+=y is ", x)

x *= y
print ("Value of a post x*=y is ", x)

x /= y
print ("Value of a post x/=y is ", x)

x %= y
print ("Value of a post x%=y is ", x)

x **= y
print ("Value of x post x**=y is ", x)

x //= y
print ("Value of a post x//=y is ", x)

Value of a post x+=y is  15
Value of a post x*=y is  150
Value of a post x/=y is  15.0
Value of a post x%=y is  5.0
Value of x post x**=y is  9765625.0
Value of a post x//=y is  976562.0

#### 1-10. Example code for bitwise operators

![5.png](img/5.png)

In [11]:
# Basic six bitwise operations
# Let x = 10 (in binary0000 1010) and y = 4 (in binary0000 0100)
x = 10
y = 4
print (x >> y )# Right Shift
print (x << y) # Left Shift
print (x & y) # Bitwise AND
print (x | y) # Bitwise OR
print (x ^ y) # Bitwise XOR
print (~x) # Bitwise NOT

0
160
0
14
14
-11

#### 1-11. Example code for logical operators

![6.png](img/6.png)

In [12]:
var1 = True
var2 = False
print('var1 and var2 is',var1 and var2)
print('var1 or var2 is',var1 or var2)
print('not var1 is',not var1)

var1 and var2 is False
var1 or var2 is True
not var1 is False